<div class="main-container">

<div class="feed-header">
  <span>Home</span>
</div>

<div class="tweet-box">
  <mat-form-field appearance="outline" class="tweet-input">
    <textarea matInput placeholder="What's happening?" rows="3"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" class="tweet-button">Post</button>
</div>


<div class="feed-container">
  <div *ngFor="let tweet of tweets" class="tweet-card">
    <div class="tweet-header">
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <div class="tweet-user-info">
        <span class="tweet-user"><strong>{{ tweet.user }}</strong></span>
        <span class="tweet-handle">{{ tweet.handle }}</span>
      </div>
    </div>

    <div>
      <p>{{ tweet.content }}</p>
    </div>

    <div class="tweet-actions">
      <button mat-icon-button><mat-icon>favorite_border</mat-icon></button>
      <button mat-icon-button><mat-icon>chat_bubble_outline</mat-icon></button>
      <button mat-icon-button><mat-icon>repeat</mat-icon></button>
      <button mat-icon-button><mat-icon>bookmark_outline</mat-icon></button>
    </div>
  </div>
</div>
</div>

