<div class="forgot-page">
    <div style="margin:5px ; width: 100%; display: flex; align-items: center;">
      <button mat-icon-button (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div style="font-weight: 500; font-size: 22px; margin-left: 10px;">Forgot Password</div>
    </div >
    <div class="forgot-password-container">
        <div class="forgot-password-component" style="width: 90%;">
          <mat-card-title >Forgot Password</mat-card-title>
          <mat-card-content>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" style="margin-top: 15px;">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="email" required [(ngModel)]="email">
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>
              </mat-form-field>
      
              <button mat-raised-button color="primary" class="full-width" [disabled]="!forgotPasswordForm.valid" style="background-color: black; color: white; width: 100%; border-radius: 8px; margin-top: 10px;">Reset Password</button>
            </form>
          </mat-card-content>
        </div>
      </div>
</div>

  