.forgot-password-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 10px;
    padding-top: 100px;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .login-link a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    mat-card {
      padding: 10px;
    }
  }

  .forgot-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    animation: openPage 0.25s ease forwards;
  
  }
  
  @keyframes openPage {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  
  }

  @media screen and (min-width: 1201px) {
    .forgot-page{
      align-self: center;
    }
    .forgot-password-container{
      display: flex;
      
    }
    .forgot-password-component{
      width: 40% !important;
    }
  }
  