<div class="who-to-follow">
  <app-search></app-search>
  <h3>Who to follow</h3>
  <div class="user-list">
    <div *ngFor="let user of users" class="user">
      <img [src]="user.avatar" alt="{{ user.name }}" class="avatar" />
      <div class="user-info">
        <div class="name">
          {{ user.name }}
        </div>
        <div class="username">{{ user.username }}</div>
      </div>
      <button mat-raised-button class="follow-btn">Follow</button>
    </div>
  </div>
  <a class="show-more">Show more</a>
</div>
  