<div class="container">
    <div class="component">
    <div class="back-button">
      
    </div>
    <br><br>
    <div style="margin: 25px; width: 100%;">

        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="width: 100px; height: 100px; border-radius: 50%; background-color: white;display: flex; align-items: center; justify-content: center; border: 5px solid green;"> 
                <mat-icon style="width: 70px; height: 70px; font-size: 70px; background-color: white; color: green;">check</mat-icon>
            </div>
        </div>

    </div>
    <div style="align-self: flex-start; font-weight: 500; font-size: 22px;margin-left: 10px; text-align: center; line-height: normal;">Password reset request has been sent to your email address.</div>
    <br><br>

  
    <div style="width: 100%;">
        <button mat-raised-button style="background-color: black; color:white; width: 100%; border-radius: 10px;" (click)="navigateToHome()">Return to Home Page</button>
    </div>
    </div>
  </div>
  
