<div class="sidebar">
    <!-- Twitter Logo -->
    <svg
    width="60"
    height="50"
    viewBox="0 0 100 100"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="display: flex; align-items: center; justify-content: center;"
  >
    <rect width="70" height="70" rx="20" fill="white" />
    <text
      x="50%"
      y="80%"
      font-size="50"
      font-weight="bold"
      fill="black"
      text-anchor="middle"
      font-family="Arial, sans-serif"
    >
      Xe
    </text>
  </svg>
    
  
    <!-- Navigation List -->
    <mat-nav-list>
      <a mat-list-item routerLink="/"  (click)="goToHome()">
        <div class="nav-icon">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item routerLink="/explore">
        <div class="nav-icon">
          <mat-icon>search</mat-icon>
          <span>Explore</span>
        </div>
      </a>
      <a mat-list-item routerLink="/notifications">
        <div class="nav-icon">
          <mat-icon>notifications</mat-icon>
          <span>Notifications</span>
        </div>
      </a>
      <a mat-list-item routerLink="/messages">
        <div class="nav-icon">
          <mat-icon>mail</mat-icon>
          <span>Messages</span>
        </div>
      </a>
      <a mat-list-item routerLink="/bookmarks">
        <div class="nav-icon">
          <mat-icon>bookmark</mat-icon>
          <span>Bookmarks</span>
        </div>
      </a>
      <a mat-list-item routerLink="/profile" (click)="goToProfile()">
        <div class="nav-icon">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </div>
      </a>
    </mat-nav-list>
    <button class="tweet-button" mat-raised-button color="primary" fullWidth>Tweet</button>
  
  </div>
  