.nav-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    span{
        padding: 15px;
    }
}
.sidebar{
    margin-right: 25px;
    position: fixed;
}
.tweet-button{
    margin-top: 25px;
    width: 100%;
    background-color: black;
    color: white;
}
.tweet-button:hover{
    background-color: #333;
}