<app-ui-view-header [title]="headerTitle" [isBackButtonEnabled]="true"></app-ui-view-header>

<div class="profile-container">
    <!-- Cover Photo -->
    <div class="cover-photo"></div>
  
    <!-- Profile Image & Info -->
    <div class="profile-info">
      <img class="profile-pic" [src]="user?.avatarUrl" alt="Profile Picture" />
  
      <div class="profile-details">
        <h2>{{ userProfile?.fullName }}</h2>
        <p class="handle"><span>&#64;</span>{{ userProfile?.username }}</p>
        <p class="bio">{{ userProfile?.bio || 'No bio available' }}</p>
  
        <div class="follow-info">
          <span><strong>120</strong> Following</span>
          <span><strong>500</strong> Followers</span>
        </div>
  
        <button class="profile-button" mat-button color="primary" (click)="goToProfileUpdate()">Edit Profile</button>
      </div>
    </div>
  
    <mat-tab-group>
      <mat-tab label="Tweets">
        <div class="feed-container">
          <app-post [tweets]="tweets"></app-post>
        </div>
      </mat-tab>
  

      <mat-tab label="Likes">
        <div class="feed-container">
          <div *ngFor="let likedTweet of likedTweets" class="tweet-card">
            <div class="tweet-header">
              <mat-icon class="profile-icon">account_circle</mat-icon>
              <div class="tweet-user-info">
                <span class="tweet-user"><strong>{{ likedTweet.user }}</strong></span>
                <span class="tweet-handle">{{ likedTweet.user }}</span>
              </div>
            </div>
        
            <div>
              <p>{{ likedTweet.content }}</p>
            </div>
        
            <div class="tweet-actions">
              <button mat-icon-button><mat-icon>favorite_border</mat-icon></button>
              <button mat-icon-button><mat-icon>chat_bubble_outline</mat-icon></button>
              <button mat-icon-button><mat-icon>repeat</mat-icon></button>
              <button mat-icon-button><mat-icon>bookmark_outline</mat-icon></button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  