<div class="login-page">
    <div style="margin:5px ; width: 100%; display: flex; align-items: center;">
      <button mat-icon-button (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div style="font-weight: 500; font-size: 22px; margin-left: 10px;">Login</div>
    </div >
      <div class="login-container">
        <div class="login-component" style="width: 90%;">
          <mat-card-title>Login</mat-card-title>
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="email" required [(ngModel)]="email">
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password" required [(ngModel)]="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
              </mat-form-field>
      
              <button mat-raised-button color="primary" class="full-width" style="background-color: black; color: white; width: 100%; border-radius: 8px; margin-top: 10px;" [disabled]="!loginForm.valid">Login</button>
    
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div class="register-link">
              <span>Don't have an account?</span>
              <div (click)="goToRegister()">Register</div>
            </div>
            <div class="register-link">
              <span>Did you forgot your password?</span>
            </div>
            <div class="register-link">
              <div  (click)="goToForgotPassword()">Forgot Password</div>
            </div>
          </mat-card-actions>
        </div>
      </div>
  </div>
  